<div class="user_box">
  <table class="user_detail">
    <tr>
      <% if @user.image.blank? %>
        <th>アバター</th>
        <td><%= image_tag 'no_image.jpeg', class:"rounded-circle" %></td>
      <% else %>
        <th>アバター</th>
        <td><%= image_tag @user.image.url, class:"rounded-circle" %></td>
      <% end %>
    </tr>

    <tr>
      <th>ユーザー名</th>
      <td><%= @user.username %></td>
    </tr>

    <tr>
      <th>国<p>行ったことがある/行きたい</p></th>
      <td><%= @user.country_name %></td>
    </tr>

    <tr>
      <th>仕事<p>現地でやた事がある/やってみたい</p></th>
      <td><%= @user.job %></td>
    </tr>

    <tr>
      <th>メールアドレス</th>
      <td><%= @user.email %></td>
    </tr>

    <tr>
      <th>パスワード</th>
      <td>*********</td>
    </tr>
  </table>

  <span id="user_edit">
    <%= link_to "編集する", edit_user_registration_path, class:"menu" %>
  </span>
</div>
