<header>
  <div class="header">
    <div class="header_menu">
      <% if user_signed_in?  %>
        <% if @user == current_user %>
          <% if @user.image.present? %>
            <%= link_to image_tag(@user.image.url, class:"rounded-circle"), user_path(current_user) %>
          <% else %>
            <%= link_to image_tag('no_image.jpeg', class:"rounded-circle"), user_path(current_user) %>
          <% end %>
        <% end %>
        <%= link_to "Home", root_path, class:"menu menu_list" %>
        <%= link_to "Memory", memories_path, class:"menu menu_list" %>
        <%= link_to "Concern", concerns_path, class:"menu menu_list" %>
        <%= link_to "Recommend", recommends_path, class:"menu menu_list" %>
        <% if unchecked_notifications.any? %>
          <i class="fa fa-circle" style="color: gold;"></i>
        <% end %>
          <%= link_to "お知らせ", notifications_path, class: "btn-default" %>
        <%= link_to "プロフィール", user_path(current_user), class:"menu menu_list" %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"menu menu_list btn_to" %>
      <% else %>
        <%= link_to "ログイン", new_user_session_path, class:"menu menu_list" %>
        <%= link_to "新規登録", new_user_registration_path, class:"menu menu_list" %>
      <% end %>
    </div>
    <div id="notice">
      <%= flash[:notice] %>
    </div>
  </div>
</header>
