<header>
  <div class="header">
    <div class="header_menu">
    <% if user_signed_in?  %>
    <%= image_tag @user.image.url, class:"header_user_image" %>
    <%= link_to "Home", root_path, class:"menu_list" %>
    <%= link_to "Memory", memories_path, class:"menu_list" %>
    <%= link_to "プロフィール", user_path(current_user), class:"menu_list" %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"menu_list" %>
    <% else %>
    <%= link_to "ログイン", new_user_session_path, class:"menu_list" %>
    <%= link_to "新規登録", new_user_registration_path, class:"menu_list" %>
    <% end %>
  </div>
    <% if flash[:notice] %>
    <div class="flash_user_show">
      <%= flash[:notice] %>
    </div>
    <% end %>
</header>
