<%= form_with(model: @recommend) do |f| %>
  <% if recommend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recommend.errors.count, "件") %>入力ミスがあります。</h2>

      <ul>
        <% recommend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.country_select :country_code, { include_blank: "オススメしたい国を指定", selected: 1 }, format: :with_alpha2 %>
  </div>

  <div class="field">
    <%= f.text_field :title , placeholder: "例：「一番人気のカフェ！」...など", :size => "30" %>
  </div>

  <div class="field">
    <%= f.text_area :content, placeholder: "例：「朝食にピッタリのサンドウッチが楽しめるカフェです！」...など", size: "60x4" %>
  </div>

  <div class="field">
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.text_field :address, placeholder: "住所を教えてね！" %>
  </div>

   <%= f.hidden_field :user_id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
