<h1>Recommend</h1>

<h2>オススメ検索</h2>
<%= search_form_for @q, url: search_recommends_path do |f| %>
  <%= f.text_field :title_cont, placeholder: "タイトルから探す" %>
  <h5 class="d-inline-block">OR</h5>
  <%= f.country_select :country_code_cont, { include_blank: "国を指定する", selected: 1 } %>
  <br>
  <%= f.submit '検索', class: "btn btn-outline-primary btn-sm"  %>
<% end %>

<% @recommends.each do |recommend| %>
  <div class="concern_content">
    <%= recommend.user.username %>
    <%= recommend.created_at.to_s(:datetime_jp) %></br>
    <%= link_to(recommend_path(recommend.id), {class:"menu tr_size"}) do %>
      <%= recommend.title %>
      <i class="fas fa-heart"></i>
      <%= recommend.likes.count %>
    <% end %>
  </div>
<% end %>
<br>
<%= paginate @recommends %>

<%= link_to 'New Recommend', new_recommend_path, class: "btn btn-outline-primary btn-sm"  %>
