<div class="recommend_user">
  <% if @recommend.user.image.present? %>
    <%= link_to image_tag(@recommend.user.image.url, class:"rounded-circle"), show_other_user_path(@recommend.user) %>
  <% end %>
  <%= @recommend.user.username %><br>
  <%= @recommend.created_at.to_s(:datetime_jp) %>
</div>

<p>
  <%= @recommend.country_name %>
</p>

<p>
  <%= @recommend.title %>
</p>

<p>
  <%= @recommend.content %>
</p>

<p>
  <% if @recommend.image.present? %>
    <%= image_tag @recommend.image.url, class:"img-fluid img-thumbnail" %>
  <% end %>
</p>

<script type="text/javascript">
  function initMap() {
    var test = {lat: <%= @recommend.latitude %>, lng: <%= @recommend.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: test
    });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);
    var contentString = '住所：<%= @recommend.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
      position:test,
      map: map,
      title: contentString
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>

<div id="map"></div>

<% if @user == @recommend.user %>
  <%= link_to 'Edit', edit_recommend_path(@recommend) %> |
  <%= link_to 'Back', recommends_path %>
  <%= link_to 'Destroy', recommend_path, method: :delete, class:"btn_to" %>
<% else %>
  <%= link_to 'Back', recommneds_path %>
<% end %>
