<div class="concern_user">
  <% if @concern.user.image.present? %>
    <%= link_to image_tag(@concern.user.image.url, class:"rounded-circle"), show_other_user_path(@concern.user) %>
  <% else %>
    <%= link_to image_tag('no_image.jpeg', class:"rounded-circle"), show_other_user_path(@concern.user) %>
  <% end %>
  <%= @concern.user.username %><br>
  <%= @concern.created_at.to_s(:datetime_jp) %>
</div>

<p>
  <strong>対象国:</strong>
  <%= @concern.country_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @concern.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @concern.content %>
</p>

<p>
  <% if @concern.image.present? %>
    <%= image_tag @concern.image.url, class:"img-fluid img-thumbnail" %>
  <% end %>
</p>

<%= form_with(model:[@concern, @advice], local: true) do |f| %>
  <% if @advice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advice.errors.count, "件") %>入力ミスがあります。</h2>
      <ul>
        <% @advice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :advice, placeholder: "アドバイスを記入" %>
  </div>

  <div class="actions">
    <%= f.submit "アドバイスを送る", class: "btn btn-outline-primary btn-sm" %>
  </div>
<% end %>

<h4>コメント一覧</h4>
<% if @concern.advices %>
  <% @advices.each do |advice| %>
    <% if advice.user.image.present? %>
      <%= image_tag(advice.user.image.url, class:"rounded-circle small-account") %>
    <% else %>
      <%= image_tag('no_image.jpeg', class:"rounded-circle small-account") %>
    <% end %>
    <%= advice.user.username %>
    <%= advice.advice %></br>
    <% if advice.user == current_user %>
      <%= button_to "削除", concern_advice_path(@concern, advice), method: :delete, class: "btn btn-outline-danger btn-sm" %>
    <% end %>
  <% end %>
<% end %>

<%= paginate @advices %>

<% if @user == @concern.user %>
  <%= link_to 'Edit', edit_concern_path(@concern), class: "btn btn-outline-primary btn-sm" %> |
  <%= link_to 'Back', concerns_path, class: "btn btn-outline-primary btn-sm" %>
  <%= button_to 'Destroy', concern_path, method: :delete, class: "btn btn-outline-danger btn-sm" %>
<% else %>
  <%= link_to 'Back', concerns_path, class: "btn btn-outline-primary btn-sm" %>
<% end %>
