<p>
  <strong>Title:</strong>
  <%= @memory.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @memory.content %>
</p>

<p>
  <strong>Date:</strong>
  <%= @memory.date %>
</p>

<p>
  <% if @memory.image.present? %>
    <%= image_tag @memory.image.url, class:"memory_image"  %>
  <% end %>
</p>

<% if @user == @memory.user %>
  <%= link_to 'Edit', edit_memory_path(@memory) %>
  <%= link_to 'Back', memories_path %>
  <%= button_to 'Destroy', memory_path, method: :delete %>
<% else %>
  <%= link_to 'Back', show_other_index_memory_path(@memory.user.id) %>
<% end %>
